[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mstrio"]
	path = mstrio
	url = https://github.com/cran/mstrio
	shallow = true
	registered = true
